.jumbotron {
    color: black;
    margin-top: 50px;
    background-image: url("../imagenes/muchos-razas.jpg");
    background-size: 50%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.tarj-tipos {
    flex: 1 400px;
    padding: 0 15px 10px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.tarj-contac {

    max-width: 300px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-info {
    width: 100%;
}
.imag-icon{
    padding-right: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}

.icon-btn {
    padding-right: 10px;
}

.imag-redes{
    padding-right: 5px;
}

.btn-prox {
    width: 100%;
}

.tab-content{
    padding-top: 10px;
}