$yellow: #9c8408;
$red: #78080c;
$green: #0f8532;
$white: #e4f2e8;

@mixin  margenes($top, $bottom, $right, $left) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}


.jumbotron {
    color: $yellow;
    @include  margenes(50px, 0px, 0px, 0px);
    background-image: url("../imagenes/muchos-razas.jpg");
    background-size: 50%;
}

.btn-red {
    background-color: $red;
    color: $white;
}

.btn-green {
    background-color: $green;
    color: $white;
}

.btn-yellow {
    background-color: $yellow;
    color: $white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include  margenes(10px, 0px, 0px, 0px);
}

.tarj-tipos {
    flex: 1 400px;
    padding: 0 15px 10px 15px;
    @include  margenes(50px, 50px, 0px, 0px);   
}
.tarj-contac {
    max-width: 300px;
    @include  margenes(50px, 50px, 0px, 25px);
}

.btn-info {
    width: 100%;
    @include  margenes(0px, 0px, 0px, 0px)
}

.imag-icon{
    padding-right: 10px;
}

.footer-address-icon {
    padding-right: 10px;
}

.icon-btn {
    padding-right: 10px;
}

.imag-redes{
    padding-right: 5px;
}

.btn-prox {
    width: 100%;
    @include  margenes(0px, 0px, 0px, 0px)
}

.tab-content{
    padding-top: 10px;
}