.jumbotron {
  color: #9c8408;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url("../imagenes/muchos-razas.jpg");
  background-size: 50%;
}
.btn-red {
  background-color: #78080c;
  color: #e4f2e8;
}
.btn-green {
  background-color: #0f8532;
  color: #e4f2e8;
}
.btn-yellow {
  background-color: #9c8408;
  color: #e4f2e8;
}
.btn-violet {
  background-color: #6439a8;
  color: #e4f2e8;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #9c8408;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.tarj-tipos {
  flex: 1 400px;
  padding: 0 15px 10px 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
.tarj-contac {
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 0px;
}
.btn-info {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.imag-icon {
  padding-right: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
.icon-btn {
  padding-right: 10px;
}
.imag-redes {
  padding-right: 5px;
}
.btn-prox {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.tab-content {
  padding-top: 10px;
}
